*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-color:#21B573;
}

/* Start from here */
#header-hero{
    background: #F0FFF0;
}
.navbar-brand > img{
    width: 198.07px;
    height: 59px;
}
.nav-link{
    color: #000000 !important;
}
.navbar-nav{
    margin-right:50px;
}
.header-btn button{
    padding: 12px 28px;
    background: var(--primary-color);
    border-radius: 33px;
    border: none;
    color: #ffffff;
}

/* header content */
#main-content{
    background: #F0FFF0;
    border-radius: 0% 0% 35% 40% / 10% 10% 5% 5% ;
}
.header-content{
    padding: 100px 0;
}
.content-box h6{
    color: rgba(253, 81, 26, 1);
    font-size: 1.3vmax;
    font-weight: 400;
    margin-bottom: 1.2rem;
}
.content-box h1{
    color: rgba(0, 0, 0, 1);
    font-weight:bolder;
    font-size: 3.4vmax;
    line-height:4.8vmax;
}
.content-box span{
    color: rgba(33, 181, 115, 1);
}
.content-box p{
    color: rgba(108, 107, 107, 1);
    margin: 35px 0;
    line-height: 2.8rem;
    font-size: 1.1vmax;
}
.content-box button{
    font-size: 1.1vmax;
    font-weight: 300;
    padding:12px 40px;
}

.image-box img{
    max-width: 555px;
}

/* Students section */
#students{
    margin-top: 70px;
    margin-bottom: 120px;
}
.box{
    width: 100%;
    height:calc( 100% + 12%);
    text-align: center;
    background-color: #f0fef6;
    border-radius: 0.9rem;
}
.box-2{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.box .box-content{
    margin-top: 65px;
    display: inline-block;
}
.box img{
    max-width: 75px;
}
.box h2{
    font-size: 1.4rem;
    color: rgba(65, 57, 96, 1);
    margin-top: 30px;
}
.box p{
    color: rgba(88, 88, 89, 1);
}

/* Card student */
#card-students{
    margin: 100px 0;
}
.header-student{
    color: rgba(65, 57, 96, 1);
    font-weight: 700;
    font-size: 3rem;
}
.card{
    border-radius: 18px !important;
    border: none !important;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);

}
.card-body{
    margin-top: -15px;
}
.card-title{
    color: rgba(65, 57, 96, 1);
    font-size: 1.7rem;
}
.card-text{
    color: rgba(88, 88, 89, 1);
}
.card-btn{
    margin: 7px 0;
}
.card-btn a{
    padding:8px 25px;
    background-color: rgba(33, 181, 115, 1);
    display: inline-block;
    border-radius: 33px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    margin-left: 17px;
    font-size: 17px;
    text-decoration: none;
    transition: .5s;
}
.card-btn a:hover{
    color: #FFFFFF;
    background-color: rgb(30, 167, 106);
}
.card-footer{
    border: none !important;
    background-color: #FFFFFF !important;
}
.footer-card img{
    max-width: 20px;
}
.footer-card span{
    font-weight: 500;
}
.footer-card{
    padding: 30px 25px;
}
.footer-card span{
    color: rgba(88, 88, 89, 1);
    margin-left: 7px;
}
.footer-card .right-footer{
    margin-left: 94px;
}


/* Testimonial */
#testimonial{
    margin: 100px 0;
}
.testimonial img{
    max-width: 140px;
}

/* footer */

#footer{
    background-color: #282531;
    color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 25px;
}

.footer-content{
    margin-left: 100px;
}
.footer-content h4{
    font-size: 1.2rem;
}
.footer-content a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #FFFFFF;
}
.footer-content li{
    list-style: none;
    line-height: 1.8rem;
}
.footer-content li a:hover{
    color: #21B573;
}
.footer-content li > a{
    font-size: 0.8rem;
    font-weight: 300;
}

.footer-copyright p{
    margin-top: 100px;
    text-align: center;
    font-size: 0.9rem;
    color: #CDCDCD;
}


/* Part of responsive */

@media (max-width: 768px) {
    
    .content-box h6{
        font-size: 2vmax;
    }
    .content-box h1{
        font-size: 9.7vmin;
    }
    .content-box p{
        line-height: 20px;
        font-size: 4.5vmin;
        margin: 27px 0;
    }
    #card-students{
        border-radius: 0% 0% 35% 40% / 10% 10% 13% 13%;
    }
    #students .row{
        gap: 70px;
    }
    .header-content{
        padding: 62px 0;

    }
    .header-content .row{
        gap: 70px;
    }
    .content-box button{
        font-size: 4.1vmin;
    }
    .header-student{
        padding: 59px 0;
        font-size: 8.4vmin;
    }
    .footer-card span {
        font-size: 2.8vmin;
    }
    .testimonial{
        flex-wrap: wrap;
        gap: 30px;
        text-align: justify;
        width: 85%;
        margin:0 auto;
    }
    .testimonial .ms-5 {
        margin-left: 0 !important;
    }


    .footer-content{
        margin: 20px 0;
        text-align: center;
    }
    .footer-title {
        text-align: center;
        margin-bottom: 30px;
    }

}

/* Point of ending */